<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>All Books</h1>
    <table>
      <tr>
        <th>Book Name</th>
        <th>Book Author</th>
        <th>Book Pages</th>
        <th>Book Price</th>
        <th>Book Availability</th>
        <th>Issue</th>
        <th>Return</th>
        <th>Delete</th>
      </tr>
      <% data.forEach(element=>{ %>
        <tr>
          <td>
            <% element.bookName %>
          </td>
          <td>
            <% element.bookAuthor %>
          </td>
          <td>
            <% element.bookPages %>
          </td>
          <td>
            <% element.bookPrice %>
          </td>
          <td>
            <% element.bookState %>
          </td>
        </tr>
        <% }) %>
    </table>
  </body>
</html>
